<!--Heading-->

        <div class="panel-heading" >
          <i class="glyphicon glyphicon-chevron-right"></i>
            <span class="panel-title"><span class='text-dark'><%= event.title%></span></span> 
            <% if event.users_id.present? %>
            <% u = User.find(event.users_id)%>
          </br>
            by <%= u.username.present? ? u.username : u.email %>
            <%end %>
        </div>
        
        <!--Body-->
        <%= div_for(event, class: "panel-body") do %>
          <% if event.theme.present? %>
            <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-star-empty"></i></span></div>
            <div class="col-md-10"><%= event.theme %></div> 
          <% end %>
          <% if event.date.present? %>
            <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-time"></i></span></div>
            <div class="col-md-10"><%= event.date.strftime('%d %m %Y') %></div>
          <% end %>
          <% if event.location.present? %>
            <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-map-marker"></i></span></div>
            <div class="col-md-10"><%= event.location %></div>
          <% end %>

          <% if event.description.present? %>
            <div class="col-md-10 col-md-offset-1">
              <p class="text-warning"><em></br><%= event.description %></em></p>
            </div>
          <% end %> 
        <% end %>

        <!--Footer-->
        <div class="btn-group btn-group-justified">
            <%= link_to event_path(event), {:class => "btn btn-default btn-xs col-md-4"} do%><i class="glyphicon glyphicon-align-justify"></i><%end%>
            <%= link_to edit_event_path(event), {:class => "btn btn-default btn-xs col-md-4"} do%><i class="glyphicon glyphicon-pencil"></i><%end%>
            <%= link_to event_path(event), {:class => "btn btn-default btn-xs col-md-4", :method => :delete} do%><i class="glyphicon glyphicon-remove"></i><%end%>
        </div>