
<div class="well well-sm-light col-md-12">

<strong>
  <div class="col-md-1">
    <i class="glyphicon glyphicon-ok"></i>
  </div>

  <div class="col-md-3">Item</div>

  <div class="col-md-2">Quantity</div>

</strong>
</div>

<% @shopping_items.each do |t| %>          
  <div class="well well-sm col-md-12">

    <div class="col-md-1">
      <% if t.bought %>
        <p class="text-success" title= "This item has been bought", "data-toggle"= "tooltip", "data-placement" = "bottom">
          <i class="glyphicon glyphicon-ok"></i>
        </p>
      <%end%>
    </div>

    <div class="col-md-3"><%= t.name %></div>

    <div class="col-md-2"><%= t.quantity %></div>
    <div class="col-md-2 col-md-offset-4">    

      <% if t.bought %>              
        <%= link_to set_bought_shopping_item_path(id:t.id, event_id: @event.id), {class: "btn btn-default  btn-sm", method: :patch, title: "This item is not bought", "data-toggle"=> "tooltip", "data-placement" => "bottom"} do%><i class="glyphicon glyphicon-minus"></i>
        <%end%>
      <%else%>
        <%= link_to set_bought_shopping_item_path(id:t.id, event_id: @event.id), {class: "btn btn-default  btn-sm", method: :patch, title: "This task is bought", "data-toggle"=> "tooltip", "data-placement" => "bottom"} do%><i class="glyphicon glyphicon-ok"></i>
        <%end%>
      <%end%>

      <%= link_to event_shopping_item_path(@event.id,t.id), {class: "btn btn-default  btn-sm", method: :delete, title: "Delete shopping item", data: { confirm: "Delete this shopping item ?",placement: "bottom",toggle:"tooltip" }} do%><i class="glyphicon glyphicon-remove"> </i> 
      <%end%> 
    </div>   
  </div>
<% end %>  

<div class="col-md-12">
  <%= form_for [@event, @shopping_item], html: {class: "form-horizontal"} do |f| %>

    <div class="col-md-1">
      <%= f.check_box :bought , class: "checkbox" %>
    </div>
  
    <div class="col-md-3"> <%= f.text_field :name, required: true , class: "form-control input-sm", placeholder: "Item" %>  </div>
    
    <div class="col-md-2"> <%= f.number_field :quantity, in: 1..500, required: true , class: "form-control input-sm"%>  </div>

    <div class="col-md-2 col-md-offset-4">    <%= f.submit "Create item", class: "btn btn-success btn-sm"%>  </div>
  <% end %>
</div>