<div class="col-md-3">

<p class="custom-medium-title"><%= @event.title %></p>
  <% if @event.theme.present? %>
    <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-star-empty"></i></span></div>
    <div class="col-md-10"><%= @event.theme %></div> 
  <% end %>

  <% if @event.date.present? %>
    <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-time"></i></span></div>
    <div class="col-md-10">
      <%= t@event.date.strftime('%d')%>
      <span class="text-warning"><%= @event.date.strftime('%m')%> </span>       
      <%= @event.date.strftime('%Y')%>
    </div>
  <% end %>

  <% if @event.location.present? %>
    <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-map-marker"></i></span></div>
    <div class="col-md-10"><%= @event.location %></div>
  <% end %>

  <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-copyright-mark"></i></span></div>
  <div class="col-md-10">
    <%if @is_manager %>
      You
    <% else %>
      <%= @creator.username %>
    <% end %>
  </div>

  <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-user"></i></span></div>
  <div class="col-md-10"><%= @attending_guest.count %><span class="text-warning">/</span><%= @event.guests.count %></div>  

  <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-list-alt"></i></span></div>
  <div class="col-md-10"><%= @done_task.count %><span class="text-warning">/</span><%= @event.tasks.count %></div>  
  
  <% if @event.description.present? %>
    <div class="col-md-10 col-md-offset-1">
      <p class="text-warning"><em></br><%= @event.description %></em></p>
    </div>
  <% end %> </br>

  <%if @is_manager %>
    <%= link_to edit_event_path(@event), {class: "btn btn-success btn-sm col-md-5"} do%>
        <p class="glyphicon glyphicon-pencil"></p> Edit 
      <%end%>
    <%= link_to event_path(@event), {class: "btn btn-success btn-sm col-md-5 col-md-offset-1", method: :destroy} do%>
      <p class="glyphicon glyphicon-remove"> </p> Delete 
    <%end%>
  <%end%>
</div>

<div class="col-md-9">

  <div class="col-md-1">
    <p class="custom-small-title"><i class="glyphicon glyphicon-list-alt"></i></p> 
  </div>
  <div class="col-md-11">
    <a name="tasks"></a>
    <p class="custom-small-title">Tasks</p>  

    <% if @tasks.empty? %>
      <%= render partial: 'task_list'%>
    <%else%>
      <button class="btn btn-default btn-xs col-md-12" type="button" data-toggle="collapse" data-target="#task_list_div" aria-expanded="true" aria-controls="task_list_div">      
        <div class="col-md-1 col-md-offset-11"><i class="glyphicon glyphicon-chevron-down"></i></div>
      </button>
      <div class="collapse in" id="task_list_div">
        <%= render partial: 'task_list'%>
      </div> 
    <%end%>  

  </div>

  <div class="col-md-1">
    <p class="custom-small-title"><i class="glyphicon glyphicon-user"></i></p> 
  </div>
  <div class="col-md-11">
    <a name="guests"></a> 
    <p class="custom-small-title">Guests</p>  
    <%if @guests.empty? %>
      <%= render partial: 'guest_list'%>
    <%else%>

    <button class="btn btn-default btn-xs col-md-12" type="button" data-toggle="collapse" data-target="#guest_list_div" aria-expanded="true" aria-controls="guest_list_div">      
      <div class="col-md-1 col-md-offset-11"><i class="glyphicon glyphicon-chevron-down"></i></div>
    </button>
    <div class="collapse in" id="guest_list_div">
      <%= render partial: 'guest_list'%>
    </div>  
    <%end%>     
  </div>

  <div class="col-md-1">
    <p class="custom-small-title"><i class="glyphicon glyphicon-pushpin"></i></p> 
  </div>
  <div class="col-md-11">
    <a name="Ideas"></a> 
    <p class="custom-small-title">Ideas</p>  
    <div>
      <%= render partial: 'idea_list_div'%>
    </div>     
  </div>
</div>
