<div class="col-md-3">

<p class="custom-medium-title"><%= @event.title %></p>

    <% if @event.theme.present? %>
    <div class="col-md-1" ><span class="text-success"><i class="glyphicon glyphicon-star-empty"></i></span></div>
    <div class="col-md-10"><%= @event.theme %></div> 
  <% end %>

  <% if @event.date.present? %>
    <div class="col-md-1" ><span class="text-success"><i class="glyphicon glyphicon-time"></i></span></div>
    <div class="col-md-10">
      <%= t@event.date.strftime('%d')%>
      <span class="text-success"><%= @event.date.strftime('%m')%> </span>       
      <%= @event.date.strftime('%Y')%>
    </div>
  <% end %>

  <% if @event.location.present? %>
    <div class="col-md-1" ><span class="text-success"><i class="glyphicon glyphicon-map-marker"></i></span></div>
    <div class="col-md-10"><%= @event.location %></div>
  <% end %>

  <div class="col-md-1" ><span class="text-success"><i class="glyphicon glyphicon-copyright-mark"></i></span></div>
  <div class="col-md-10">
    <%if @is_creator %>
      Me !
    <% else %>
      <%= @creator.username %>
    <% end %>
  </div>

  <div class="col-md-1" ><span class="text-success"><i class="glyphicon glyphicon-list-alt"></i></span></div>
  <div class="col-md-10"><%= @done_task.count %><span class="text-success">/</span><%= @event.tasks.count %></div>  

  <div class="col-md-1" ><span class="text-success"><i class="glyphicon glyphicon-user"></i></span></div>
  <div class="col-md-10"><%= @attending_guest.count %><span class="text-success">/</span><%= @event.guests.count %></div>  
  
  <% if @event.description.present? %>
    <div class="col-md-10 col-md-offset-1">
      <p class="text-warning"><em></br><%= @event.description %></em></p>
    </div>
  <% end %> 

  <div class="col-md-12"></br> </div>

  <%= link_to edit_event_path(@event), {class: "btn btn-default btn-md col-md-12"} do%>
    <i class="glyphicon glyphicon-pencil"></i> Edit 
  <%end%>
 <div class="col-md-12"></br> </div>
  <%= link_to event_path(@event), {class: "btn btn-default btn-md col-md-12", method: :delete, data: {confirm: "Delete this event ?"}} do%>
    <i class="glyphicon glyphicon-remove"> </i>  Delete 
  <%end%>

</div>

<div class="col-md-8 col-md-offset-1">

  <ul class="nav nav-pills nav-justified">
  <li class="active"><a href="#task_list" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i> Tasks <span class="badge"><%= @tasks.count %></span></a></li>
  <li ><a href="#guest_list" data-toggle="tab"><i class="glyphicon glyphicon-user"></i> Guests <span class="badge"><%= @guests.count %></span></a></li>
  <li ><a href="#shopping_list" data-toggle="tab"><i class="glyphicon glyphicon-shopping-cart"></i> Shopping items <span class="badge"><%= @shopping_items.count %></span></a></li>
  <li ><a href="#ideas" data-toggle="tab"><i class="glyphicon glyphicon-pushpin"></i> Ideas <span class="badge"><%= @pins.count %></span></a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="task_list">
  </br>
    <%= render partial: 'task_list'%>
  </div>
  <div class="tab-pane fade" id="guest_list">
  </br>
    <%= render partial: 'guest_list'%>
  </div>
  <div class="tab-pane fade" id="shopping_list">  
  </br>  
      <%= render partial: 'shopping_item_list'%>
  </div>
  <div class="tab-pane fade" id="ideas">
  </br>
    <%= render partial: 'idea_list_div'%>
  </div>
</div>
</div>
