<p class="custom-medium-title"><%= @event.title %></p>
<div class="col-md-3">

  <% if @event.theme.present? %>
    <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-star-empty"></i></span></div>
    <div class="col-md-10"><%= @event.theme %></div> 
  <% end %>

  <% if @event.date.present? %>
    <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-time"></i></span></div>
    <div class="col-md-10">
      <%= t@event.date.strftime('%d')%>
      <span class="text-warning"><%= @event.date.strftime('%m')%> </span>       
      <%= @event.date.strftime('%Y')%>
    </div>
  <% end %>

  <% if @event.location.present? %>
    <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-map-marker"></i></span></div>
    <div class="col-md-10"><%= @event.location %></div>
  <% end %>

  <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-copyright-mark"></i></span></div>
  <div class="col-md-10">
    <%if @is_manager %>
      You
    <% else %>
      <%= @manager.username %>
    <% end %>
  </div>

  <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-user"></i></span></div>
  <div class="col-md-10"><%= @attending_guest.count %><span class="text-warning">/</span><%= @event.guests.count %></div>  

  <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-list-alt"></i></span></div>
  <div class="col-md-10"><%= @done_task.count %><span class="text-warning">/</span><%= @event.tasks.count %></div>  
  
  <% if @event.description.present? %>
    <div class="col-md-10 col-md-offset-1">
      <p class="text-warning"><em></br><%= @event.description %></em></p>
    </div>
  <% end %> </br>

  <%if @is_manager %>
    <%= link_to edit_event_path(@event), {class: "btn btn-success btn-sm col-md-5"} do%>
        <p class="glyphicon glyphicon-pencil"></p> Edit 
      <%end%>
    <%= link_to event_path(@event), {class: "btn btn-success btn-sm col-md-5 col-md-offset-1", method: :destroy} do%>
      <p class="glyphicon glyphicon-remove"> </p> Delete 
    <%end%>
  <%end%>
</div>

<div class="col-md-9">

  <div class="col-md-1">
    <p class="custom-small-title"><i class="glyphicon glyphicon-list-alt"></i></p> 
  </div>
  <div class="col-md-11">
    <a name="tasks"></a>
    <p class="custom-small-title">Tasks</p>  
    <%= render partial: 'task_list' , :locals => {event: @event, is_manager: @is_manager, tasks: @tasks}%>
  </div>

  <div class="col-md-1">
    <p class="custom-small-title"><i class="glyphicon glyphicon-user"></i></p> 
  </div>
  <div class="col-md-11">
    <a name="guests"></a> 
    <p class="custom-small-title">Guests</p>  
    <%= render partial: 'guest_list' , :locals => {event: @event, is_manager: @is_manager, guests: @guests}%>
  </div>

</div>
