<div class="col-md-3">
  <p class="custom-medium-title"><%= @event.title %></p>

  <% if @event.theme.present? %>
    <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-star-empty"></i></span></div>
    <div class="col-md-10"><%= @event.theme %></div> 
  <% end %>

  <% if @event.date.present? %>
    <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-time"></i></span></div>
    <div class="col-md-10"><%= @event.date %></div>
  <% end %>

  <% if @event.location.present? %>
    <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-map-marker"></i></span></div>
    <div class="col-md-10"><%= @event.location %></div>
  <% end %>

  <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-copyright-mark"></i></span></div>
  <div class="col-md-10"><%= @manager.username %></div>

  <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-user"></i></span></div>
  <div class="col-md-10"><%= @attending_guest.count %>/<%= @event.guests.count %></div>  

  <div class="col-md-1" ><span class="text-warning"><i class="glyphicon glyphicon-list-alt"></i></span></div>
  <div class="col-md-10"><%= @done_task.count %>/<%= @event.tasks.count %></div>  
  
  <% if @event.description.present? %>
    <div class="col-md-10 col-md-offset-1">
      <p class="text-warning"><em></br><%= @event.description %></em></p>
    </div>
  <% end %> </br>

<div class="col-md-12">
<%= link_to edit_event_path(@event), {:class => "btn btn-sm btn-success"} do%><p class="glyphicon glyphicon-pencil"></p> Edit <%end%>
<%= link_to event_path(@event), {:class => "btn btn-sm btn-success", :method => :delete} do%><p class="glyphicon glyphicon-remove"> </p> Delete <%end%>
</div>
</div>


<a name="guests"></a> 
<div class="col-md-8 col-md-offset-1">
</br>
  <p class="custom-small-title">Guests</p>
  <% if @guests.empty? %>
    No guest.
  <%else%>
   <div class="col-md-12">
      <% @guests.each do |guest| %>  
        <div class="col-md-1">
          <span class=<%= guest.attending ? "text-success" : "text-default"%>><i class="glyphicon glyphicon-user"></i></span>
        </div>
        <div class="col-md-1">
          <% if guest.mandatory %>
            <span class=<%= guest.attending ? "text-default" : "text-danger"%>><i class="glyphicon glyphicon-exclamation-sign"></i></span>
          <% end %>
        </div>
        <div class="col-md-2">
          <%= guest.name %>
        </div>
        <div class="col-md-7">
          <%= guest.note %>
        </div>
        <div class="col-md-1">
          <%= link_to event_guest_path(@event.id,guest.id), {:method => :delete} do%><i class="glyphicon glyphicon-remove"></i><%end%>
        </div>
      <%end%>
    </div>
  <%end%>


  <a name="tasks"></a>
  <p class="custom-small-title">Tasks</p>
  <% if @event.tasks.empty? %>
    <div class="well well-sm">
      No task.
    </div>    
  <%else%>
    <div id="columns">
      <% @event.tasks.each do |task| %>
        <div class="col-md-12">  

        </div>
      <%end%>
    </div>
  <%end%>
</div>


<div class="panel panel-default">
  <div class="panel-heading">Guests</div>
<div class="panel-body">
<table>
<tr>
    <th>Name</th>
    <th>Attending</th>
    <th>Mandatory</th>
    <th>Note</th>
    <th>Action</th>
  </tr>

<% @event.guests.each do |t| %>
<tr>
      <td><%= t.name %></td>
      <td><%= t.attending %></td>
      <td><%= t.mandatory %></td>
      <td><%= t.note %></td>
      <td><%= link_to 'Uninvite', [t.event,t],method: :delete, data:{confirm: 'Are you sure ?'} %></td>
    </tr>
<% end %>

<tr>
<%= form_for([@event, @event.guests.build]) do |f| %>
  <td>    <%= f.text_field :name %>  </td>
  <td>    <%= f.check_box :attending %>  </td>
  <td>    <%= f.check_box :mandatory %>  </td>
  <td>    <%= f.text_area :note %>  </td>
  <td>    <%= f.submit %>  </td>
<% end %>
</tr>
</table>
</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Tasks</div>
<div class="panel-body">
<table>
<tr>
    <th>Name</th>
    <th>Note</th>
    <th>Deadline</th>
    <th>Done</th>
  </tr>

<% @event.tasks.each do |t| %>
<tr>
      <td><%= t.name %></td>
      <td><%= t.note %></td>
      <td><%= t.deadline %></td>
      <td><%= t.done %></td>
      <td><%= link_to 'Delete', [t.event,t],method: :delete, data:{confirm: 'Are you sure ?'} %></td>
    </tr>
<% end %>

<tr>
<%= form_for([@event, @event.tasks.build]) do |f| %>
  <td>    <%= f.text_field :name %>  </td>
  <td>    <%= f.text_area :note %>  </td>
  <td>    <%= f.datetime_field :deadline %>  </td>
  <td>    <%= f.check_box :done %>  </td>
  <td>    <%= f.submit %>  </td>
<% end %>
</tr>
</table>
</div>
</div>
